<% provide(:title, "サイトについて") %>
<br><br>
<div class="jumbotron">

<div class="container">

        <br><br><br><br><br><br><br>
        <h1 class="text-center text-white"><strong>ABOUT</strong></h1>

    	<br><br>
    	<h4 class="text-center text-white">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
        </h4>
        <br><br><br><br><br><br><br>

</div>


</div>