<footer>

    <div class="container">
        <div class="text-right">
                <%= link_to "contact", contact_path, class: "btn btn-dark" %>
        </div>
    </div>

    <div class="row">
        <div class="mx-auto">
            <p>Nagano Cake</p>
        </div>
    </div>

</footer>